{
  "datasource": "${DATASOURCE}",
  "fieldConfig": {
    "defaults": {
      "custom": {},
      "thresholds": {
        "mode": "absolute",
        "steps": []
      },
      "mappings": [],
      "color": {
        "mode": "thresholds"
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 6,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "lastNotNull"
      ],
      "fields": ""
    },
    "orientation": "auto",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.4.5",
  "targets": [
    {
      "namespace": "AWS/Lambda",
      "metricName": "Errors",
      "expression": "",
      "dimensions": {
        "FunctionName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "errors",
      "alias": "errors",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": true,
      "matchExact": true,
      "refId": "errors"
    },
    {
      "namespace": "AWS/Lambda",
      "metricName": "Invocations",
      "expression": "",
      "dimensions": {
        "FunctionName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "invocations",
      "alias": "invocations",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": true,
      "matchExact": true,
      "refId": "invocations"
    },
    {
      "namespace": "AWS/Lambda",
      "metricName": "",
      "expression": "errors/invocations",
      "dimensions": {},
      "region": "${REGION}",
      "id": "error_rate",
      "alias": "Error Rate",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": true,
      "matchExact": true,
      "refId": "error_rate"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "1 - error_rate",
      "dimensions": {},
      "region": "${REGION}",
      "id": "success_rate",
      "alias": "success_rate",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": true,
      "matchExact": true,
      "refId": "success_rate"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "success_rate * 100",
      "dimensions": {},
      "region": "${REGION}",
      "id": "success_percentage",
      "alias": "success_percentage",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "success_percentage"
    }
  ],
  "title": "AvailabilityLd/${RESOURCE}",
  "type": "stat",
  "timeFrom": null,
  "timeShift": null
}