{
  "alert": {
    "alertRuleTags": {
      "SEVERITY": "PAGE"
    },
    "conditions": [
      {
        "evaluator": {
          "params": [
            ${ERROR_RATE_THRESHOLD.onehour}
          ],
          "type": "gt"
        },
        "operator": {
          "type": "and"
        },
        "query": {
          "params": [
            "rate1Hour",
            "1h",
            "now"
          ]
        },
        "reducer": {
          "params": [],
          "type": "sum"
        },
        "type": "query"
      },
      {
        "evaluator": {
          "params": [
            ${ERROR_RATE_THRESHOLD.sixhour}
          ],
          "type": "gt"
        },
        "operator": {
          "type": "or"
        },
        "query": {
          "params": [
            "Rate6Hour",
            "6h",
            "now"
          ]
        },
        "reducer": {
          "params": [],
          "type": "sum"
        },
        "type": "query"
      }
    ],
    "executionErrorState": "keep_state",
    "for": "5m",
    "frequency": "1m",
    "handler": 1,
    "message": "Error rate in 1 or 6 hour exceeded the limit in Apigateway ${RESOURCE}.\n\nMetrics can't exceed:\n1 hour: ${ERROR_RATE_THRESHOLD.onehour} \n hour: ${ERROR_RATE_THRESHOLD.sixhour}",
    "name": "Error Rate /${RESOURCE} alert ${ID}",
    "noDataState": "no_data",
    "notifications": [
      {
        "uid": "${UID}"
      }
    ]
  },
  "aliasColors": {},
  "dashLength": 10,
  "datasource": "${DATASOURCE}",
  "description": "Display Error Rate for an ApiGateway and also alert about burn rate in 1 or 6 hours",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "fill": 1,
  "gridPos": {
    "h": 7,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "legend": {
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": false,
    "values": true,
    "alignAsTable": true
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "null",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.6",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [],
  "spaceLength": 10,
  "targets": [
    {
      "namespace": "",
      "metricName": "",
      "expression": "SUM(REMOVE_EMPTY(SEARCH(' \"AWS/ApiGateway\" ApiName=\"${RESOURCE}\" MetricName=\"5XXError\" ', 'Sum', 3600))) /   SUM(REMOVE_EMPTY(SEARCH(' \"AWS/ApiGateway\" ApiName=\"${RESOURCE}\" MetricName=\"Count\" ', 'Sum', 3600)))",
      "dimensions": {},
      "region": "${REGION}",
      "id": "",
      "alias": "Error Rate 1 Hour",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": false,
      "refId": "rate1Hour"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "SUM(REMOVE_EMPTY(SEARCH(' \"AWS/ApiGateway\" ApiName=\"${RESOURCE}\" MetricName=\"5XXError\" ', 'Sum', 21600))) /   SUM(REMOVE_EMPTY(SEARCH(' \"AWS/ApiGateway\" ApiName=\"${RESOURCE}\" MetricName=\"Count\" ', 'Sum', 21600)))",
      "dimensions": {},
      "region": "${REGION}",
      "id": "",
      "alias": "Error Rate 6 Hour",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": false,
      "refId": "Rate6Hour"
    }
  ],
  "thresholds": [
    {
      "value": ${ERROR_RATE_THRESHOLD.onehour},
      "op": "gt",
      "visible": true,
      "fill": true,
      "line": true,
      "colorMode": "critical"
    }
  ],
  "timeRegions": [],
  "title": "ErrorRatePage/${RESOURCE}",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "fillGradient": 0,
  "hiddenSeries": false,
  "maxDataPoints": null,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}