{
  "datasource": "${DATASOURCE}",
  "description": "Percentage of Error Remaining Error Budget",
  "fieldConfig": {
    "defaults": {
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": 80
          }
        ]
      },
      "mappings": [],
      "color": {
        "mode": "continuous-RdYlGr"
      },
      "unit": "percent"
    },
    "overrides": []
  },
  "gridPos": {
    "h": 7,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "mean"
      ],
      "fields": ""
    },
    "orientation": "auto",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "none",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.5.5",
  "repeat": null,
  "repeatDirection": "v",
  "targets": [
    {
      "alias": "count",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "expression": "",
      "hide": true,
      "id": "count",
      "matchExact": true,
      "metricName": "Count",
      "namespace": "AWS/ApiGateway",
      "period": "",
      "queryType": "randomWalk",
      "refId": "count",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "error",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "expression": "",
      "hide": true,
      "id": "error",
      "matchExact": true,
      "metricName": "5XXError",
      "namespace": "AWS/ApiGateway",
      "period": "",
      "queryType": "randomWalk",
      "refId": "error",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "Error budget",
      "dimensions": {},
      "expression": "(count * (100 - $SLO)) / 100",
      "hide": true,
      "id": "budget",
      "matchExact": true,
      "metricName": "",
      "namespace": "",
      "period": "",
      "refId": "budget",
      "region": "${REGION}",
      "statistics": [
        "Average"
      ]
    },
    {
      "alias": "Remaining Budget",
      "dimensions": {},
      "expression": "((budget - error)*100 ) / budget",
      "hide": false,
      "id": "remaining",
      "matchExact": true,
      "metricName": "",
      "namespace": "",
      "period": "",
      "refId": "remainingBudget %",
      "region": "${REGION}",
      "statistics": [
        "Average"
      ]
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "title": "RemainingBudget/${RESOURCE}",
  "transformations": [],
  "type": "stat"
}