{
  "datasource": "${DATASOURCE}",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "gridPos": {
    "h": 7,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.5",
  "targets": [
    {
      "namespace": "AWS/ApiGateway",
      "metricName": "Count",
      "expression": "",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "count",
      "alias": "count",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "queryType": "randomWalk",
      "refId": "count"
    },
    {
      "namespace": "AWS/ApiGateway",
      "metricName": "5XXError",
      "expression": "",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "error",
      "alias": "error",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "queryType": "randomWalk",
      "refId": "error"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "count * (100 - $SLO) / 100",
      "dimensions": {},
      "region": "${REGION}",
      "id": "budget",
      "alias": "error budget",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "budget"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "ABS(((budget-error)*100 ) / budget)",
      "dimensions": {},
      "region": "${REGION}",
      "id": "remaining",
      "alias": "Remaining Budget",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "remainingBudget %"
    }
  ],
  "title": "RemainingBudget/${RESOURCE}",
  "type": "graph",
  "description": "Percentage of remaining budget",
  "renderer": "flot",
  "yaxes": [
    {
      "label": null,
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "short",
      "$$hashKey": "object:308"
    },
    {
      "label": "",
      "show": true,
      "logBase": 1,
      "min": null,
      "max": null,
      "format": "percent",
      "$$hashKey": "object:309"
    }
  ],
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "lines": true,
  "fill": 1,
  "linewidth": 1,
  "dashLength": 10,
  "spaceLength": 10,
  "pointradius": 2,
  "legend": {
    "show": true,
    "values": true,
    "min": true,
    "max": true,
    "current": true,
    "total": true,
    "avg": false,
    "alignAsTable": true,
    "hideEmpty": false,
    "hideZero": false
  },
  "nullPointMode": "null",
  "tooltip": {
    "value_type": "individual",
    "shared": true,
    "sort": 0
  },
  "aliasColors": {
    "Remaining Budget": "green"
  },
  "seriesOverrides": [
    {
      "$$hashKey": "object:456",
      "alias": "Remaining Budget",
      "yaxis": 2
    },
    {
      "$$hashKey": "object:641",
      "alias": "error",
      "lines": false
    },
    {
      "$$hashKey": "object:656",
      "alias": "count",
      "lines": false
    },
    {
      "$$hashKey": "object:663",
      "alias": "error budget",
      "lines": false
    }
  ],
  "thresholds": [],
  "timeRegions": [],
  "timeFrom": null,
  "timeShift": null,
  "fillGradient": 0,
  "dashes": false,
  "hiddenSeries": false,
  "points": false,
  "bars": false,
  "stack": false,
  "percentage": false,
  "steppedLine": false
}