{
  "aliasColors": {},
  "bars": false,
  "dashLength": 10,
  "dashes": false,
  "datasource": "${DATASOURCE}",
  "description": "Display Availability for ApiGateway ${RESOURCE}",
  "fieldConfig": {
    "defaults": {},
    "overrides": []
  },
  "fill": 1,
  "fillGradient": 0,
  "gridPos": {
    "h": 7,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "hiddenSeries": false,
  "id": ${ID},
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": true,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "null",
  "options": {
    "alertThreshold": true
  },
  "percentage": false,
  "pluginVersion": "7.5.5",
  "pointradius": 2,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [
    {
      "$$hashKey": "object:704",
      "alias": "count",
      "lines": false
    },
    {
      "$$hashKey": "object:711",
      "alias": "error",
      "lines": false
    },
    {
      "$$hashKey": "object:759",
      "alias": "availability",
      "yaxis": 2
    }
  ],
  "spaceLength": 10,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "alias": "count",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "expression": "",
      "hide": false,
      "id": "count",
      "matchExact": true,
      "metricName": "Count",
      "namespace": "AWS/ApiGateway",
      "period": "",
      "queryType": "randomWalk",
      "refId": "count",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "error",
      "dimensions": {
        "ApiName": "${RESOURCE}"
      },
      "expression": "",
      "hide": false,
      "id": "error",
      "matchExact": true,
      "metricName": "5XXError",
      "namespace": "AWS/ApiGateway",
      "period": "",
      "queryType": "randomWalk",
      "refId": "error",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "availability",
      "dimensions": {},
      "expression": "ABS(((error * 100) / count) - 100)",
      "hide": false,
      "id": "availability",
      "matchExact": true,
      "metricName": "",
      "namespace": "",
      "period": "",
      "refId": "percentage",
      "region": "${REGION}",
      "statistics": [
        "Average"
      ]
    }
  ],
  "thresholds": [
    {
      "$$hashKey": "object:813",
      "colorMode": "critical",
      "fill": true,
      "line": true,
      "op": "gt",
      "yaxis": "left"
    }
  ],
  "timeFrom": null,
  "timeRegions": [],
  "timeShift": null,
  "title": "Availability/${RESOURCE}",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "$$hashKey": "object:674",
      "format": "none",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "$$hashKey": "object:675",
      "format": "percent",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  }
}