{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": false,
  "gnetId": null,
  "graphTooltip": 0,
  "links": [],
  "panels": ${PANELS},
  "schemaVersion": 27,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {
          "selected": true,
          "text": "97",
          "value": "97"
        },
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": null,
        "multi": false,
        "name": "SLO",
        "options": [
          {
            "selected": false,
            "text": "90",
            "value": "90"
          },
          {
            "selected": false,
            "text": "91",
            "value": "91"
          },
          {
            "selected": false,
            "text": "92",
            "value": "92"
          },
          {
            "selected": false,
            "text": "93",
            "value": "93"
          },
          {
            "selected": false,
            "text": "94",
            "value": "94"
          },
          {
            "selected": false,
            "text": "95",
            "value": "95"
          },
          {
            "selected": false,
            "text": "96",
            "value": "96"
          },
          {
            "selected": true,
            "text": "97",
            "value": "97"
          },
          {
            "selected": false,
            "text": "98",
            "value": "98"
          },
          {
            "selected": false,
            "text": "99",
            "value": "99"
          },
          {
            "selected": false,
            "text": "99.9",
            "value": "99.9"
          },
          {
            "selected": false,
            "text": "99.99",
            "value": "99.99"
          },
          {
            "selected": false,
            "text": "99.999",
            "value": "99.999"
          }
        ],
        "query": "90,91,92,93,94,95,96,97,98,99,99.9,99.99,99.999",
        "skipUrlSync": false,
        "type": "custom"
      }
    ]
  },
  "time": {
    "from": "now/M",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "dashboard-${COMPONENT}",
  "version": 2
}
