{
  "alert": {
    "alertRuleTags": {
      "SEVERITY": "PAGE"
    },
    "conditions": [
      {
        "evaluator": {
          "params": [
            ${ERROR_RATE_THRESHOLD.onehour}
          ],
          "type": "gt"
        },
        "operator": {
          "type": "and"
        },
        "query": {
          "params": [
            "rate1Hour",
            "1h",
            "now"
          ]
        },
        "reducer": {
          "params": [],
          "type": "sum"
        },
        "type": "query"
      },
      {
        "evaluator": {
          "params": [
            ${ERROR_RATE_THRESHOLD.sixhour}
          ],
          "type": "gt"
        },
        "operator": {
          "type": "or"
        },
        "query": {
          "params": [
            "rate6Hour",
            "6h",
            "now"
          ]
        },
        "reducer": {
          "params": [],
          "type": "sum"
        },
        "type": "query"
      }
    ],
    "executionErrorState": "alerting",
    "for": "5m",
    "frequency": "1m",
    "handler": 1,
    "message": "Error rate in 1 or 6 hours exceeded the limit in Lambda ${RESOURCE}.\n\nMetrics can't exceed:\n1 hour: ${ERROR_RATE_THRESHOLD.onehour} \n hour: ${ERROR_RATE_THRESHOLD.sixhour}",
    "name": "${DATASOURCE} - ErrorRate ${RESOURCE} alert ${ID}",
    "noDataState": "no_data",
    "notifications": [
      {
        "uid": "${UID}"
      }
    ]
  },
  "aliasColors": {
    "Rate 1 Hour": "dark-blue",
    "Rate 6 Hours": "dark-orange"
  },
  "dashLength": 10,
  "datasource": "${DATASOURCE}",
  "description": "Error Rate for lambda ${RESOURCE} and also alert about burn rate in 1 hour or 6 hours",
  "fieldConfig": {
    "defaults": {
      "unit": "short"
    },
    "overrides": []
  },
  "fill": 1,
  "gridPos": {
    "h": 7,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "legend": {
    "alignAsTable": true,
    "avg": true,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "total": true,
    "values": true
  },
  "lines": true,
  "linewidth": 1,
  "nullPointMode": "null",
  "options": {
    "alertThreshold": true
  },
  "pluginVersion": "7.5.6",
  "pointradius": 2,
  "renderer": "flot",
  "seriesOverrides": [
    {
      "$$hashKey": "object:114",
      "alias": "errors",
      "lines": false
    },
    {
      "$$hashKey": "object:139",
      "alias": "invocations",
      "lines": false
    }
  ],
  "spaceLength": 10,
  "targets": [
    {
      "namespace": "AWS/Lambda",
      "metricName": "Errors",
      "expression": "",
      "dimensions": {
        "FunctionName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "errors",
      "alias": "errors",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "errors"
    },
    {
      "namespace": "AWS/Lambda",
      "metricName": "Invocations",
      "expression": "",
      "dimensions": {
        "FunctionName": "${RESOURCE}"
      },
      "region": "${REGION}",
      "id": "invocations",
      "alias": "invocations",
      "statistics": [
        "Sum"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "invocations"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "SUM(SEARCH('{AWS/Lambda,FunctionName} FunctionName=\"${RESOURCE}\" MetricName=\"Errors\"', 'Sum',  3600)) /  SUM(SEARCH('{AWS/Lambda,FunctionName} FunctionName=\"${RESOURCE}\" MetricName=\"Invocations\"', 'Sum',  3600))",
      "dimensions": {},
      "region": "${REGION}",
      "id": "",
      "alias": "Rate 1 Hour",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "rate1Hour"
    },
    {
      "namespace": "",
      "metricName": "",
      "expression": "SUM(SEARCH('{AWS/Lambda,FunctionName} FunctionName=\"${RESOURCE}\" MetricName=\"Errors\"', 'Sum',  21600)) /  SUM(SEARCH('{AWS/Lambda,FunctionName} FunctionName=\"${RESOURCE}\" MetricName=\"Invocations\"', 'Sum',  21600))",
      "dimensions": {},
      "region": "${REGION}",
      "id": "",
      "alias": "Rate 6 Hours",
      "statistics": [
        "Average"
      ],
      "period": "",
      "hide": false,
      "matchExact": true,
      "refId": "rate6Hour"
    }
  ],
  "thresholds": [
    {
      "value": ${ERROR_RATE_THRESHOLD.onehour},
      "op": "gt",
      "visible": true,
      "fill": true,
      "line": true,
      "colorMode": "critical"
    }
  ],
  "timeRegions": [],
  "title": "Error Rate ${RESOURCE}",
  "tooltip": {
    "shared": true,
    "sort": 0,
    "value_type": "individual"
  },
  "type": "graph",
  "xaxis": {
    "buckets": null,
    "mode": "time",
    "name": null,
    "show": true,
    "values": []
  },
  "yaxes": [
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    },
    {
      "format": "short",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": true
    }
  ],
  "yaxis": {
    "align": false,
    "alignLevel": null
  },
  "bars": false,
  "dashes": false,
  "fillGradient": 0,
  "hiddenSeries": false,
  "percentage": false,
  "points": false,
  "stack": false,
  "steppedLine": false,
  "timeFrom": null,
  "timeShift": null
}