{
    "collapsed": true,
    "datasource": null,
    "gridPos": {
        "h": 1,
        "w": 24,
        "x": ${X},
        "y": ${Y}
    },
    "id": ${ID},
    "panels": ${PANELS},
    "title": "${TITLE}",
    "type": "row"
}