{
  "datasource": "${DATASOURCE}",
  "fieldConfig": {
    "defaults": {
      "custom": {},
      "thresholds": {
        "mode": "absolute",
        "steps": []
      },
      "mappings": [],
      "color": {
        "mode": "thresholds"
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 6,
    "w": 8,
    "x": ${X},
    "y": ${Y}
  },
  "id": ${ID},
  "options": {
    "reduceOptions": {
      "values": false,
      "calcs": [
        "sum"
      ],
      "fields": ""
    },
    "orientation": "auto",
    "text": {},
    "textMode": "auto",
    "colorMode": "value",
    "graphMode": "none",
    "justifyMode": "auto"
  },
  "pluginVersion": "7.4.5",
  "targets": [
    {
      "alias": "started",
      "dimensions": {
        "StateMachineArn": "arn:aws:states:${REGION}:${ACCOUNT}:stateMachine:${RESOURCE}"
      },
      "expression": "",
      "hide": true,
      "id": "started",
      "matchExact": true,
      "metricName": "ExecutionsStarted",
      "namespace": "AWS/States",
      "period": "",
      "queryType": "randomWalk",
      "refId": "started",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "budget",
      "dimensions": {},
      "expression": "(throttled * 100) / started",
      "hide": false,
      "id": "budget",
      "matchExact": true,
      "metricName": "",
      "namespace": "",
      "period": "",
      "queryType": "randomWalk",
      "refId": "percentage",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    },
    {
      "alias": "throttled",
      "dimensions": {},
      "expression": "",
      "hide": true,
      "id": "throttled",
      "matchExact": true,
      "metricName": "ExecutionThrottled",
      "namespace": "AWS/States",
      "period": "",
      "refId": "throttled",
      "region": "${REGION}",
      "statistics": [
        "Sum"
      ]
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "title": "Throttled/${RESOURCE}",
  "transformations": [],
  "type": "stat"
}